body {
	padding:20px;
}

.logo {
	width:300px;
	margin-bottom:20px;
	display:block;
}


input[type=checkbox] {
	display:inline;
}

.flash-message {
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:yellow;
	text-align:center;
	padding:5px;
}

nav ul {
	list-style-type:none;
	padding:5px 0px 5px 0px;
}

label,input {
	display:block;
	margin-top:10px;
}


nav ul li {
	display:inline;
	margin-right:10px;
}

a:link, a:visited, a:active, a:hover {
	text-decoration:underline;
}

.tags {
	color:grey;
	font-family:consolas;
}

.book {
	border:1px solid #ccc;
	padding:10px;
	padding-top:0px;
	float:left;
	width:300px;
	margin-right:10px;
	margin-bottom:10px;
	height:500px;

}

.tag {
	background-color:#F8F8F8;
	padding:2px;
	font-size:11px;
	font-family:consolas;
	margin:2px;
	display:inline-block;
}